{
  "extends": ["stylelint-config-standard","stylelint-config-recommended","stylelint-config-idiomatic-order", "stylelint-config-prettier"],
  "plugins":["stylelint-color-format"],
  "rules": {
    "selector-class-pattern": [
      "^.[a-z]([a-z0-9_]+)?(__([a-z0-9]+_?)+)?(_([a-z0-9]+_?)+){0,2}$",
      {
        "message": "Class names should only contain _"
      }
    ],
    "selector-id-pattern": [
      "^.[a-z]([a-z0-9_]+)?(__([a-z0-9]+_?)+)?(_([a-z0-9]+_?)+){0,2}$",
      {
        "message": "id names should only contain _"
      }
    ],
    "color-format/format": {
      "format": "rgb"
    }
  }
}
