.option_container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 15px;
  background-color: rgb(247 247 247);
  gap: 8px;
}

.input {
  padding: 8px 10px;
  border: unset;
  border-radius: 8px;
  color: rgb(39 52 68);
}

.input::placeholder {
  color: rgb(39 52 68 / 30%);
}

.send_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  gap: 8px;
}

.agreement_container {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  width: 36px;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(16 112 238);
  border-radius: 100%;
  margin: 0;
  appearance: none;
  background-color: rgb(255 255 255);
  color: rgb(16 112 238);
  cursor: pointer;
  font: inherit;
}

.checkbox::before {
  background-color: rgb(255 255 255);
}

.checkbox:checked::before {
  width: 36px;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: rgb(11 118 239);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  content: " ";
  transition: 120ms transform ease-in-out;
}

.label {
  width: 24px;
  height: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid rgb(173 181 189);
  border-color: rgb(11 118 239);
  border-radius: 100%;
  margin: unset;
  background-color: rgb(11 118 239);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  cursor: pointer;
}

.agreements {
  font-size: 12px;
  text-align: center;
}

.link {
  text-decoration: underline;
}

.error_container {
  text-align: center;
}

.error_text {
  color: rgb(235 69 109);
  font-weight: 600;
}
