.main {
  /* position: fixed; */
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--navbar-height) + 48px);
}

.main_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 32px;
}

.container {
  position: relative;
  width: 30vh;
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(16 112 238);
  gap: 24px;
  text-align: center;
}

.text_container h1 {
  font-size: 80px;
  font-weight: 900;
}

.text_container h2 {
  font-size: 32px;
  font-weight: 600;
}

.lamp_container {
  display: flex;
  width: 15vh;
  flex-direction: column;
  transform: translate(50%, 50%);
}

.lamp {
  top: 50%;
  left: 50%;
  width: 30vh;
  min-width: calc(300px * 3 / 7);
  height: 70vh;
  min-height: 300px;
  background: rgb(39 52 67);
  clip-path: polygon(33% 0, 0 70%, 22% 88%, 0 100%, 100% 100%, 78% 88%, 100% 70%, 67% 0);
  transform: translate(-50%, -50%);
}

.glass {
  position: absolute;
  bottom: 30%;
  overflow: hidden;
  width: 100%;
  height: 60%;
  background: rgb(182 225 224);
}

.lava {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url("#goo");
}

.blob {
  position: absolute;
  border-radius: 50%;
  background: rgb(16 112 239);
}

.blob_top {
  top: -3.7%;
  left: 0;
  width: 100%;
  height: 4%;
}

.blob_bottom {
  bottom: -3%;
  left: 0;
  width: 100%;
  height: 4%;
}

.blob:nth-child(1) {
  bottom: -15%;
  left: 45%;
  width: calc(15% * 1.4);
  height: 15%;
  animation: blob-one ease-in-out 7s infinite;
}

.blob:nth-child(2) {
  right: 14%;
  bottom: -15%;
  width: calc(22% * 1.4);
  height: 22%;
  animation: blob-two ease-in-out 11s infinite;
}

.blob:nth-child(3) {
  bottom: -15%;
  left: 14%;
  width: calc(32% * 1.4);
  height: 32%;
  animation: blob-three ease-in-out 16s infinite;
}

@keyframes blob-one {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-700%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-420%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-305%);
  }
}

@media screen and (min-width: 1025px) {
  .main {
    flex-direction: row;
    padding-bottom: 48px;
    gap: 128px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: row;
    padding-bottom: 48px;
    gap: 64px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .container {
    width: 100%;
    height: 40vh;
  }

  .main_container {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .lamp {
    width: 15vh;
    height: 40vh;
  }

  .text_container h1 {
    font-size: 64px;
    font-weight: 900;
  }

  .text_container h2 {
    font-size: 24px;
    font-weight: 600;
  }
}
