.reviews_block {
  padding-top: 100px;
  padding-bottom: 100px;
}

.order_process {
  padding-top: 100px !important;
}

@media screen and (max-width: 768px) {
  .reviews_block {
    padding-top: 50px !important;
  }
}
