.overlay {
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1240px) {
  .overlay {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 760px) {
  .overlay {
    padding: 0 1rem;
  }
}
